<div>Hello, {{timeSeries}}</div>

<div class="panel panel-default col-md-2">
	<div class="panel-heading">
		<h3 class="panel-title">User Configuration Zone</h3>
	</div>
	<div class="panel-body">
	<!--  this mess deals with user configuration. This should be done in a less horrible manner -->
		<ul>
			<li ng-repeat="(paramName, param) in userParameters | orderBy:'paramName'">
				<strong>{{paramName}}:</strong>
				
				<button ng-if="isColor(paramName)&&!isArray(param)" class="btn btn-default" style="background-color:{{userParameters[paramName]}}"  
				colorpicker-position="right" colorpicker="rgba" type="text" ng-model="userParameters[paramName]">
				Color</button>
				<my-calendar ng-if="isDate(paramName)" name="userParameters[paramName]"></my-calendar>
				<ul ng-if="isColor(paramName)&&isArray(param)">
					<li ng-repeat="(index, element) in param track by index">
						<button class="btn btn-default" style="background-color:{{userParameters[paramName][index]}}" 
						colorpicker-position="right" colorpicker="rgba" type="text" ng-model="userParameters[paramName][index]">
						Color</button>
					</li>
					<div class="panel-body">
						<button class="btn btn-success" ng-click="addColor(param)">Add</button>
						<button class="btn btn-danger" ng-click="removeColor(param)">Remove</button>
					</div>
				</ul>
				<input ng-if="isntSpecial(param, paramName)" ng-model="userParameters[paramName]"></input>
				</br>
			</li>
		</ul>
	</div>

	<div class="panel-footer">
		<button class="btn btn-success" ng-if="showButtons" ng-click="drawHttpChart()">HttpDate&Org</button></br>
		<button class="btn btn-info" ng-if="showButtons" ng-click="drawCsvChart()">Csv</button>
		<button class="btn btn-info" ng-if="showButtons" ng-click="drawMultiChart()">MultiCsv</button></br>
		<button class="btn btn-danger" ng-click="logScope()">console.log($scope)</button>
		<button class="btn btn-primary" ng-if="chartInit" ng-click="redrawChart()">Redraw</button>
	</div>
</div>
<div class="col-md-10">
	<div class="row"><div id="test_composed"></div></div>
	<div class="row"><div id="ranger"></div></div>
</div>
