<!--Angela's code-->

<div class="container-fluid" ng-controller="equipmentTicketsCtrl">
	<title>All Angela</title>
	
	<div class= "panel-heading clearfix">
		<button class="btn btn-default pull-right"><a ng-href="/app/#/equipmentTickets">Config</a></button>
	</div>
	
	
	<div class="row" style="margin-bottom: 10px">
		<div class="col-md-4 col-md-push-4">
			<h1>Asset Name: {{asset.id}}</br></h1>
			Asset Type: <span style="text-transform: uppercase">{{asset.type}}</span></br>
			Asset Location: {{asset.location}}
		</div>


		<div class="col-md-4 col-md-pull-4">
			<img ng-if="asset.type==null" ng-src="/app/ajax-loader.gif"/>
			<img ng-if="asset.type!=null" ng-src="/app/pictures/assetTypes/{{asset.type}}.png"/></br>
			<a ng-href="#">Asset Configuration</a></br>
			<a ng-href="#">Analytic Configuration</a>
		</div>
		
		<div class="col-md-4">
			<p>(put operating graph here)</p>
		</div>
	</div>
	
	<div style="background-color: lightgray" ng-repeat="event in events" ng-if="events.length>0">
		<a ng-href="/app/#/eventPage/{{event.id}}"> <!-- this whole div should be clickable into the event -->
			<div class="row">
				<div class="col-sm-6">
					<p>(Put Dennis' grid here)</p>
				</div>
				
				<div class="col-sm-6">
					<h2>Event ID: {{event.id}}</h2>
				</div>
			</div>

			<table class="dataTable" width="100%" border="3">
				<thead>
					<tr>
						<th width="16%">Anomaly</th>
						<th width="16%">First Occurrence</th>
						<th width="16%">Last Occurrence</th>
						<th width="16%"># of Occurrences</th>
						<th width="16%">Waste</th>
						<th width="16%">Potential</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td>{{event.anomaly}}</td>
						<td>{{event.firstAt}}</td>
						<td>{{event.lastAt}}</td>
						<td>{{event.quantity}}</td>
						<td>$ {{event.waste}}</td>
						<td>$ {{event.potential}}</td>
				</tbody>
			</table>
		</a>
		<div class="row" style="margin-bottom: 10px">   </div>
	</div>
	
	<div style="background-color: lightgray" ng-if="events.length==0">
		<i>There are currently no open events for {{asset.id}}</i>
	</div>
</div>