<!--Angela's code; equipmentTickets.html-->

<div class="container-fluid">
  
   <div class= "panel-heading clearfix">
       <button class="btn btn-default pull-right" ng-click="openConfig()" >Config</button>
   </div>
   
   
   <div class="row" style="margin-bottom: 10px">
       <div class="col-sm-4 col-sm-push-4">
           <h1>Asset Name: {{asset.id}}</br></h1>
           Asset Type: <span style="text-transform: uppercase">{{asset.type}}</span></br>
           Asset Location: {{asset.facility}}, {{asset.location}}
       </div>
 
 
       <div class="col-sm-4 col-sm-pull-4">
           <img ng-if="asset.type==null" ng-src="/app/ajax-loader.gif" class="img-responsive"/>
           <img ng-if="asset.type!=null" ng-src="/app/pictures/assetTypes/{{asset.type}}.png" class="img-responsive"/></br>
           <a ng-href="#">Asset Configuration</a></br>
           <a ng-href="#">Analytic Configuration</a>
       </div>
       
       <div class="col-sm-4">
           <p>(put operating graph here)</p>
       </div>
   </div>
	
	
	<div style="background-color: lightgray" ng-repeat="event in events" ng-if="events.length>0">
		<a ng-href="/app/#/eventPage/{{event.id}}"> <!-- this whole div should be clickable into the event -->
			<div class="row">
				<div class="col-sm-6">
					<p>(Put event-specific impulse chart here)</p>
				</div>
				
				<div class="col-sm-6">
					<h2>Event ID: {{event.id}}</h2>
				</div>
			</div>

			<table class="dataTable" width="100%" border="3">
				<thead>
					<tr>
						<th width="16%">Anomaly</th>
						<th width="16%" class="visible-lg">First Occurrence</th>
						<th width="16%" class="visible-lg">Last Occurrence</th>
						<th width="16%" class="visible-lg"># of Occurrences</th>
						<th width="16%" class="visible-lg visible-md">Waste</th>
						<th width="16%">Potential</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td>{{event.anomaly}}</td>
						<td class="visible-lg">{{event.firstAt}}</td>
						<td class="visible-lg">{{event.lastAt}}</td>
						<td class="visible-lg">{{event.quantity}}</td>
						<td class="visible-lg visible-md">$ {{event.waste}}</td>
						<td>$ {{event.potential}}</td>
				</tbody>
			</table>
		</a>
		<div class="row" style="margin-bottom: 10px">   </div>
	</div>
	
	<div style="background-color: lightgray" ng-if="events.length==0">
		<i>There are currently no open events for {{asset.id}}</i>
	</div>
</div>