   	
	
	
	
	<div class="jumbotron">
	<center>
	<h1>
	Equipment In Faults
	</h1>
	</center>
	<center>
	<button class="btn btn-default" ng-click="open('lg');queryOrganizations()">Equipment Selection</button>
	</center>
	
	
	<div class="modal-footer">
	<button class="btn btn-primary" ng-click="apply()">Apply</button>
	</div>
	
	
	</div>
	
	
	<div ng-repeat="(activeElement, param) in activeInfo "  >
	
	<div>	
		
		
		
			<table style="width:100%">
  <tr>
    <td>Client : {{param[0]}}</td>
    <td>Station : {{param[1]}}</td> 
   <td>Asset : {{param[2]}}</td> 
  </tr>
  
  
  
  
  <tr>
    <td>Asset Type : {{param[3]}}</td>
    <td> Location : {{param[5]}}</td>
    <td> test:{{param[4][]}}</td>
   
  </tr>
</table>
		

		

	</div>
	
	</div>
	
	
		


	
	
	

