<!--Angela's code; equipmentTicketsConfig.html-->

<div></br>
	Choose Client: <select ng-model="currentClientName" ng-options="client for client in clientList" ng-change="clientSelected()"></select></br></br>
	
	Choose Facility: <select ng-model="currentFacilityName" ng-options="facility for facility in facilityList" ng-change="facilitySelected()"></select></br></br>
					
	Choose Asset: <select ng-model="currentAssetName" ng-options="asset for asset in assetList" ng-change="assetSelected()"></select><br></br>

	<div ng-if="currentAssetName==null"><i>Please choose a client, facility, asset to continue</i></div>
	
	<button class="btn btn-primary" ng-if="currentAssetName!=null" ng-click="ok()">OK</button></br>
</div>