<!DOCTYPE html>


<div ng-controller="facilityDetailsCtrl">
<div class="container-fluid" style="background-color:lightgrey;width:330px;float:left" >
	<div>
	<div>
	<div>
	<button class="btn btn-default" ng-click="openConfig('lg');queryOrganizations()" >Select Facility</button>
	<button class="btn btn-default" ng-click="openDetailed('lg')" >Expand</button>
	
	<center>
	<b>
	<div ng-if="!isBlank(_clientName)">
	{{_clientName}}
	</div>
	<div ng-if="!isBlank(_projectName)">
	{{_projectName}}
	</div>
	</b>
	</center<
	<div>
	<center>
			<li ng-if="!isZero(siteCount)">This organization has a total of {{siteCount}} sites</li>
			<li ng-if="!isBlank(_liveDate)">Went live on {{_liveDate}}</li>
			<li ng-if="!isBlank(_facilityAddress)">Located at {{_facilityAddress}}, {{_city}}, {{_state}}</li>
			<li ng-if="!isBlank(_buildingType)">{{_buildingType}}</li>
			<li ng-if="!isBlank(_squareFootage)">Total of {{_squareFootage}} sq ft.</li>
			<li ng-if="!isZero(_assetCount)">Total key assets monitored: {{_assetCount}}</li>
	</center>
	</div>
	</div>

</div>
</div>
</div>
</div>
