<!DOCTYPE html>

<div ng-controller="facilityDetailsCtrl">
<div class="container-fluid" style="background-color:lightgreyfloat:left" >
	<div class="panel panel-default">
	<div class= "panel-heading clearfix">
	
	<button class="btn btn-default pull-right" ng-click="openConfig('lg');queryOrganizations()" >Config</button>
	<button class="btn btn-default pull-right" ng-click="openDetailed('lg')" >+</button>
	<div ng-if="debugMode">
	<button class="btn btn-default pull-left" ng-click="debug()">debug</button>
	
	</div>
	
	<button class="btn btn-default pull-left" ng-click="debugModeSwitch()">switch</button>

	</div>
	
	<div>
	<div>
	<div>
	<center>
	<b>
	<div ng-if="!isBlank(_clientName)">
	{{_clientName}}
	</div>
	<div ng-if="!isBlank(_projectName)">
	{{_projectName}}
	</div>
	</b>
	</center>
	<div>
	<center>
			<li ng-if="!isZero(siteCount)">This organization has a total of {{siteCount}} sites</li>
			<li ng-if="!isBlank(_liveDate)">Went live on {{_liveDate}}</li>
			<div ng-if="!isBlank(_facilityAddress)">
			<div ng-if="!isBlank(_city)">
			<div ng-if="!isBlank(_state)">
			<li>Located at {{_facilityAddress}}, {{_city}}, {{_state}}</li>
			</div>
			<div ng-if="isBlank(_state)">
			<li>Located at {{_facilityAddress}}, {{_city}}</li>
			</div>
			</div>
			<div ng-if="isBlank(_city)">
			<li>Located at {{_facilityAddress}}</li>
			</div>
			</div>
			<li ng-if="!isBlank(_buildingType)">{{_buildingType}}</li>
			<li ng-if="!isBlank(_squareFootage)">Total of {{_squareFootage}} sq ft.</li>
			<li ng-if="!isZero(_assetCount)">Total key assets monitored: {{_assetCount}}</li>
	</center>
	</div>
	</div>

</div>
</div>
</div>
  
