<div>
	<div ng-controller="heatmapCtrl as heat">
		<button ng-click="heat.grab()">grab time</button>
		<heatmap-config></heatmap-config>
		<div ng-if="heat.rendered"> 
		<cal-heatmap config="heat.heatmapConfig"></cal-heatmap>
		</div>
	</div>
	<div ng-controller="heatmapCtrl as heat">
		<!-- don't need this
		<button ng-click="heat.change()">Change heat</button>
		!-->
		<heatmap-config></heatmap-config>
		<div ng-if="heat.rendered"> 
			<cal-heatmap config="heat.heatmapConfig"></cal-heatmap>
		</div>
	</div>
</div>