<div>
	<div>Show Schedules on Heatmap: <input type ="checkbox" ng-model="heat.showLines" ng-change="heat.scheduleSelect()"> <br/></div>
	
	<br>
	<div>Select data source:</div>
	<select class ="form-control action" ng-model="heat.dataSource" ng-options="obj.source as obj.text for obj in heat.sources"></select><br>

	<br>
	<div>Select event source:</div>
	<select class ="form-control action" ng-model="heat.eventSource" ng-options="obj.source as obj.text for obj in heat.events"></select>

	
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>