<div class="panel panel-primary">
	<select ng-model="heat.dataSource" ng-options="obj.source as obj.text for obj in heat.sources">
	<!--
   <div class="panel-heading" ng-show=geofenceEditShow><h3 class="panel-title">Edit Heatmap</h3></div>
   <div class=panel-body>
       <strong>Geo-Fence Name:</strong> <input ng-model="geofenceName"><br>
       <strong>Geo-Fence Organization:</strong> <input ng-model="geofenceOrganization"><br>
       <strong>Geo-Fence Details:</strong> <input ng-model="geofenceDetails"><br>
       <strong>Geo-Fence Type:</strong> <input ng-model="geofenceType" disabled><br>
       <strong>Geo-Fence Uuid:</strong> <input ng-model="geofenceUuid" disabled><br>
       <strong>Geo-Fence Zone:</strong> <input ng-model="geofenceParentZone"><br><br>
       
       <button ng-show=geofenceEditShow ng-click="geofenceSaveEdit()" class="btn btn-success">Save Edits</button>
       
       <button ng-show=geofenceInitShow ng-click="geofenceSaveInit()" class="btn btn-success">Save Edits</button>
       <button ng-show=geofenceInitShow ng-click="geofenceDeleteInit()" class="btn btn-danger">Delete</button><br>
       <strong ng-show=geofenceInitShow>Click Save to push to database!</strong>
   </div>
   !-->
</div>