<div>
	<div ng-controller="heatmapCtrl as heat">
		<div ng-controller="heatmapConfigController">
			<button class="btn btn-default" ng-click="open('lg')">Config</button>
		</div>
		<div ng-if="heat.rendered"> 
		<cal-heatmap config="heat.heatmapConfig"></cal-heatmap>
		</div>
	</div>
	<div ng-controller="heatmapCtrl as heat">
		<div ng-controller="heatmapConfigController">
			<button class="btn btn-default" ng-click="open('lg')">Config</button>
		</div>
		<div ng-if="heat.rendered"> 
			<cal-heatmap config="heat.heatmapConfig"></cal-heatmap>
		</div>
	</div>
</div>