<div class="panel panel-default" ng-controller="panelController as component">
	<div class= "panel-heading clearfix">
		<div class="pull-right">
			<button class="btn btn-default"  ng-controller="{{component.controller}}" ng-click="open('lg')">Config</button>
		</div>
		<div class="pull-right">
			<button class="btn btn-default" ng-controller ="popOutController" ng-click="open()">+</button>
		</div>
		<div class="pull-right">
			<select ng-model="component.bodyDirective" ng-options="value for value in component.getDirectiveList()"></select>
		</div>
	</div>
	<div class = "panel-body">
		<div ng-include="component.bodyDirective"></div>
	</div>
</div>