<div>Hello, {{timeSeries}}</div>

<div dc-chart="pieChart" dc-chart-group="1"
     dc-width="500" dc-height="480" dc-inner-radius="100"
     dc-slices-cap="5"
     dc-dimension="runDimension" dc-group="speedSumGroup"
     dc-legend="dc.legend()"></div>
     
<div dc-chart="barChart" dc-chart-group="1"
     dc-width="500" dc-height="480"
     dc-dimension="barDimension" dc-group="barGroup" dc-center-bar="true"
     dc-x="domainX()"
     ></div>
     
<div dc-chart="lineChart" dc-chart-group="1"
     dc-width="500" dc-height="480"
     dc-dimension="barDimension" dc-group="barGroup"
     dc-x="domainX()"
     ></div>
     
<div dc-chart="lineChart" dc-chart-group="1" dc-render-area="true"
     dc-width="500" dc-height="480"
     dc-dimension="barDimension" dc-group="barGroup"
     dc-x="domainX()"
     ></div>
     
     <div id="test_composed"></div>

