<div>Hello, {{timeSeries}}</div>

<!-- 
<div></div><div dc-chart="pieChart" dc-chart-group="1"
     dc-width="500" dc-height="480" dc-inner-radius="100"
     dc-slices-cap="12"
     dc-dimension="dateDimension" dc-group="actualGroup"
     dc-legend="dc.legend()"></div></div>
  
<div><div dc-chart="barChart" dc-chart-group="1"
     dc-width="500" dc-height="480"
     dc-dimension="dateDimension" dc-group="savingsGroup" 
     dc-x="domainX()"
     ></div></div>

<div><div dc-chart="lineChart" dc-chart-group="1"
     dc-width="500" dc-height="480"
     dc-dimension="dateDimension" dc-group="actualGroup"
     dc-x="domainX()"
     ></div></div>

<div><div dc-chart="lineChart" dc-chart-group="1" dc-render-area="true"
     dc-width="500" dc-height="480"
     dc-dimension="dateDimension" dc-group="expectedGroup"
     dc-x="domainX()"
     ></div></div>
 -->
     
     <div><div id="test_composed"></div></div>
     <span><div id = "time_chart"></div></span>
     <my-calendar></my-calendar>
     <my-calendar></my-calendar>

