<h1><b>Work Order Summary</b></h1>
<h3>{{facilityName}} Facility Overview</h3>
<div class="btn-group" dropdown>
		<button type="button" class="btn btn-primary dropdown-toggle">
			Change Facility<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li ng-repeat="facilityName in facilityNames">
				<a  ng-click='changeFacilityView(facilityName)'>{{facilityName}}</a>
			</li>
		</ul>
</div>
<!-- <div class="btn-group" dropdown>
		<button type="button" class="btn btn-primary dropdown-toggle">
			Asset View<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li ng-repeat="assetName in assetNames">
				<a  ng-click='assetView(assetName)'>{{assetName}}</a>
			</li>
		</ul>
</div> -->

<div class="gridStyle" ui-grid="gridOptions" external-scopes="test"></div> 
<button type="button"><a ng-click='backToOverview()'>Organization Home</a></button>
<button type="button"><a ng-click='backToOrganizationSelect()'>Change Organization</a></button>